# IDE
**/.idea/
**/__pycache__

#preproc data folder
preproc/renate_od/data/*
!preproc/renate_od/data/.gitkeep


# result folder
results/*
!results/.gitkeep

# compiled files
*.exe
bin
build
src/*.exe

